{
  "schemaPath": "types.graphql",
  "extensions": {
    "endpoints": {
      "prod": {
        "url": "XXXXXXXXXXXXXXXXXXXXXXXXXX",
        "subscription": "XXXXXXXXXXXXXXXXXXXXXXXXXXX"
      }
    }
  }
}
